body {
    font-family: 'Nunito', serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-weight: 600;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #3D4D55;
    margin-bottom: 15px;
}

.header-left-part {
    display: flex;
    align-items: center;
    gap: 12px;
}

.site-name-header {
    text-transform: uppercase;
    color: #B58863;
    font-weight: bolder;
    font-size: 24px;
}

.site-slogan {
    margin: 0;
    padding: 0;
    color: #D3C3B9;
}

.header-right-part {
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
}

.header-right-part a {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: ease 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.header-right-part a:hover {
    color: #D3C3B9;
    fill: #D3C3B9;
    transition: ease 0.5s;
}

main {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.top-navigation {
    display: flex;
    background-color: #DEDCDC;
}

.top-navigation a {
    flex: 1;
}

.article-header {
    background-color: #3D4D55;
    color: #D3C3B9;
    padding: 10px;
}

.article-header p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.article-content {
    background-color: #DEDCDC;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.article-content img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.article-content a {
    max-width: 100%;
    width: auto;
    text-wrap: break-word;
}

/*Навигация по калькулятору*/

.top-navigation-bar {
    display: none;
}

.navigation-content nav {
    display: flex;
    flex-direction: column;
}

.navigation-content {
    background-color: #DEDCDC;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation-content nav a {
    transition: ease 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.navigation-content nav a:hover {
    background-color: #D3C3B9;
    transition: ease 0.5s;
}

.navigation-content nav a {
    padding: 10px;
}

.side-navigation {
    width: 25%;
}

.side-navigation .selected-a {
    border-left: solid 3px #B58863;
    color: #B58863;
}

.top-navigation a {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.top-navigation a:hover {
    background-color: #D3C3B9;
    transition: ease 0.5s;
}

.top-navigation .selected-a {
    border-bottom: solid 3px #B58863;
    color: #B58863;
}

/*Подвал сайта*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #10232A;
    margin-top: 15px;

}

.footer-left-part {
    display: flex;
    align-items: center;
    gap: 16px;
}

.site-name-footer {
    color: #B58863;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 36px;
}

.site-slogan-footer {
    color: #D3C3B9;
    margin: 0;
    padding: 0;
}

.footer-right-part {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.footer-right-part a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
    transition: ease 0.5s;
}

.footer-right-part a:hover {
    color: #D3C3B9;
    transition: ease 0.5s;
}

.footer-right-part a p {
    margin: 0;
    padding: 0;
}

/*Калькулятор ССР*/

.cardio-vascular-risk, .glomerular-filtration-rate, .dutch-lipid-clinic-network, .body-mass-index, .learn {
    width: 70%;
}

.info {
    width: 100%;
}

.lipids-now {
    width: max-content;
}

p {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border: none;
}

input {
    border: none;
    height: 20px;
    margin: 0;
    font-size: 16px;
}

select, option {
    height: 22px;
    font-size: 16px;
    border: none;
}

.img-description {
    color: grey;
    text-align: center;
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

fieldset {
    padding: 10px;
    gap: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.fieldset-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fieldset-content div {
    display: flex;
    align-items: center;
    gap: 5px;
}

table input {
    width: 95%;
    border: none;
    text-align: center;
}

table tr td {
    width: 25%;
    padding: 2px;
    text-align: center;
}

table tr {
    background-color: #3D4D55;
    color: white;
    border: solid #3D4D55 2px;
    border-bottom: none;
}

table td {
    border: solid grey 2px;
    border-top: none;
    background-color: white;

}

.button {
    background-color: #B58863;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

legend {
    color: #3D4D55;
    font-weight: bold;
}

fieldset {
    border: solid 2px #3D4D55;
}

.checkbox {
    width: 15px;
    height: 15px;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
}

.checkbox-list div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dlcn-header {
    background-color: #3D4D55;
    color: white;
    display: block;
    width: auto;
    padding: 5px;
}

.dlcn-content {
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
    align-content: center;
    transition: ease 0.3s;
}

.dlcn-content:hover {
    filter: brightness(90%);
    background-color: #DEDCDC;
    transition: ease 0.3s;
}

.dlcn-content div {
    padding: 5px;
}

.input-column {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 10px;
}

.input-column label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dlcn-content input[type="number"] {
    width: 90px;
}

h3 {
    margin: 0;
}

ol, ul {
    margin: 0;
}

section {
    margin-bottom: 15px;
}

.high-risk h3 {
    background-color: orange;
    color: white;
    padding: 10px;
}

.red {
    border-color: red;
}

.red legend {
    color: red;
}

.green {
    border-color: green;
}

.green legend {
    color: green;
}

.yellow {
    border-color: orange;
}

.yellow legend {
    color: orange;
}

.very-high-risk h3 {
    background-color: red;
    color: white;
    padding: 10px;
}

.low-risk h3 {
    background-color: green;
    color: white;
    padding: 10px;
}

.medium-risk h3 {
    background-color: #ffcd00;
    color: white;
    padding: 10px;
}

.extremal h3 {
    background-color: maroon;
    color: white;
    padding: 10px;
}

.result td {
    color: #3D4D55;
}

@media (max-width: 1460px) {
    .top-navigation-bar {
        display: block;
        margin-bottom: 20px;
    }

    .side-navigation {
        display: none;
    }

    .cardio-vascular-risk, .glomerular-filtration-rate, .dutch-lipid-clinic-network, .body-mass-index, .learn, .info {
        width: 100%;
    }
}

@media (max-width: 1010px) {
    .top-navigation-bar {
        display: block;
        margin-bottom: 20px;
    }

    .side-navigation {
        display: none;
    }

    .cardio-vascular-risk, .glomerular-filtration-rate, .dutch-lipid-clinic-network, .body-mass-index, .learn, .info {
        width: 100%;
    }

    main {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
