body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.main-menu {
    list-style: none;
}

.main-menu li{
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
    color: white; 
    vertical-align: middle;
}

.main-menu li:hover {
    color: wheat;
}

nav {
    width: 360px;
}

nav h3 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: aliceblue;
    margin: 0;
}

nav ul li {
    display: block;
    width: 338px;
    height: 20px;
    padding: 10px;
    align-content: center;
    border-bottom: #DCDCDC solid 1px;
    border-left: #DCDCDC solid 1px;
    border-right: #DCDCDC solid 1px;
}

table {
    margin-bottom: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #424769;
    padding: 0 60px 0 60px;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;
}

.logo h2 {
    color: #f9b17a;
}

input {
    text-align: center;
}

main {
    display: flex;
    margin: 0;
}

.main-content {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #2d2d44;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px;
}

.footer-logo {
    align-content: center;
    align-items: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    display: block;
    width: 120px;
    height: 30px;
    align-content: center;
    font-weight: 600;
}

form div {
    display: block;
    margin: 7px 3px 7px 3px;
}

form div:first-child {
    margin: 3px 3px 7px 3px;
}

form div:last-child {
    margin: 0px 3px 0 3px;
}

table {
    border-collapse: collapse;
}

th {
    padding: 2px;
    background-color: #424769;
    color: white;
}

input[type="checkbox"] {
    margin: 0;
    position: relative;
    border: none;
}

input[type="checkbox"]:checked {
    background-color: #7B68EE;
    color: white;
}

td {
    background-color: white;
    border-left: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;;
    padding: 2px;
}

td input {
    border: none;
    background-color: transparent;
}

fieldset {
    border: 2px solid #424769;
    margin-bottom: 10px;
}

legend {
    color: #424769;
    font-weight: 600;
}

.button {
    display: block;
    font-size: 16px;
    width: 160px;
    height: 30px;
    margin: 2px;
    background-color: #f9b17a;
    color: white;
    font-weight: 600;
    border: none;
    padding: 3px;
}

section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

section p {
    margin: 0;
    padding: 0 5px 10px 0;
}

section .content {
    padding: 10px;
    background-color: aliceblue;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

section h3, nav h3 {
    background-color: #424769;
    color: white;
    margin: 0;
    padding: 10px;
}

.extremal h3{
    background-color: #800000;
}

.very-high-risk h3 {
    background-color: #DC143C;
}

.high-risk h3 {
    background-color: #FF8C00;
}

.medium-risk h3 {
    background-color: #FFD700;
}

.low-risk h3 {
    background-color: #9ACD32;
}

.hidden {
    display: none;
}

.checkbox {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
    background-color: #7B68EE;
    cursor: pointer;
}

.totaltherapy {
    border: 2px solid forestgreen;
}

.totaltherapy legend {
    color: forestgreen;
}

.result fieldset p {
    padding: 0;
}

.result ul {
    margin: 0;
}

.result th, td {
    width: 178px;
    height: 23,5px;
    text-align: center;
}

.result .goal {
    color: green;
    font-weight: bold;
}

.dlcn-header {
    background-color: #424769;
    color: white;
    display: block;
    width: auto;
    padding: 5px;
}

.dlcn-content {
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
    align-content: center;
}

.dlcn-content #hdll {
    width: 50px;
}

@media (max-width: 1200px) {

}

@media (max-width: 1160px) {


}
